@model ImdbWeb.Models.Movies.Index
@using ImdbWeb.Domain.Models

<h1>
    Hello @Model.UserName
</h1>


<td>
    <a asp-action="AddMovie" asp-controller="Movies" class="btn btn-primary">Add Movie</a>
</td>



<table style="width:100%" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Movie Name</th>
            <th>Length</th>
            <th>Summary</th>
            <th>Release Year</th>
            <th>Genre</th>
            <th>Content Type</th>
            <th>Language</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>

        </tr>
    </thead>

    <tbody>
        @foreach (Movie movie in Model.BananaMovies)
        {
        <tr>
            <td> @movie.Id </td>
            <td> @movie.MovieName </td>
            <td> @movie.LengthInMin Mins </td>
            <td> @movie.Summary</td>
            <td> @movie.Year </td>
            <td> @movie.Genre </td>
            <td> @movie.ContentRating </td>
            <td> @movie.Language </td>
            <td>
                <a method="post" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary"> View Details </a>
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Movies" asp-route-id="@movie.Id" class="btn btn-primary">Edit Details</a>
            </td>

            <td>
                <form asp-action="Delete" asp-controller="Movies" asp-route-id="@movie.Id" method="post">
                    <input type="submit" value="Delete" class="btn btn-primary">
                </form>
            </td>


            <td>
                <a asp-action="AddReview" asp-controller="Movies" asp-route-id="@movie.Id" class="btn btn-primary">Add Review</a>
            </td>

            

        </tr>
        }
        </tbody>





</table>

@{
}
